.App {
  text-align: center;
}

*:focus{
  outline: none;
}

.search-container {
  width: 400px;
  margin: auto;
  padding-top: 100px;
  position: relative;
}

.search-box1 {
  width: 100%;
  padding: 15px;
  border: 2px solid grey;
  border-radius: 5px;
  font-size: 40px;
}

.eraseButton {
  position: absolute;
  right: 10px;
  border-radius: 10px;
  top: 105px;
  border: 1px solid rgb(212, 212, 219);
}

.listContainer {
  list-style: none;
  /* border: 2px solid blue; */
  width: 400px; 
  margin: auto;
}

.listContainer li {
  border-bottom: 2px solid #dfc8c8;
  width: 100%;
  height: 50px;
  font-size: 30px;
  padding-top: 10px;
}
